In [14]:
#print statment for " Welcome to python session"
x= "Welcome to"
y= "python"
z= "session"
print(x,y,z)

Welcome to python session

In [16]:
# Create variable "2nd-class" and assign it a value of "Pandas"(should give error)

2nd_class="Pandas"
print(2nd_class)

SyntaxError: invalid decimal literal (2404004762.py, line 3)

In [18]:
#Cast a float number into integer
number=10.5
number_cast=int(number)
print(number_cast)
type(number)

10

float

In [24]:
#print a number and string using '+'(should give error)
number=3
name="Python"
#concatination
print(number+name)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [26]:
#print using format
print("welcome to {0} {1}".format(name,number))

welcome to Python 3

In [28]:
#print using F-string
print(f'welcome to {number} {name}')

welcome to 3 Python

In [32]:
#print using F-string
firstName="first"
lastName="last"
print(f'full  name is {firstName} {lastName}')

full  name is first last

In [43]:
#Replace "p" with "h" in the string "python" using replace function
name="python"
new_name= name.replace("p","h")
print(new_name)

hython

In [45]:
#Remove 'seaborn' from given libraries 
libraries=['pandas','numpy','seaborn','matplot','scipy']
libraries.remove('seaborn')
print(libraries)

['pandas', 'numpy', 'matplot', 'scipy']

In [47]:
#Sort the list in descending order
list=[100,300,50,0,200,3]
list.sort()
print(list)

[0, 3, 50, 100, 200, 300]

In [34]:
#Print your name and batch code
print("Vijetha Asam SDET137")

Vijetha Asam SDET137

In [38]:
name="Python Sessions"
reverse_name=name[::-1]
print(reverse_name)

snoisseS nohtyP

In [40]:
print(name.upper())

PYTHON SESSIONS

In [72]:
#Creating a dictionary 
My_info={
    "firstName":"Vijetha",
    "lastname":"Asam",
    "track":"SDET",
    "batch":137
}
My_info

{'firstName': 'Vijetha', 'lastname': 'Asam', 'track': 'SDET', 'batch': 137}

In [68]:
#Print dictionary keys
My_info.keys()

dict_keys(['firstName', 'lastname', 'track', 'batch'])

In [70]:
#print dictionary values
My_info.values()

dict_values(['Vijetha', 'Asam', 'SDET', 137])

In [1]:
#Indentation(giving space while writing print)
if 8>3:
    print("eight is greater than three")

eight is greater than three

In [6]:
#syntax error(for indentation)
if 5>3:
    print("5 greater than 3")
 if 5>3:
           print("5 greater than 3")

IndentationError: unindent does not match any outer indentation level (<string>, line 4)

In [10]:
"""
casting(specifically mentioning the variables)"""
x=int(3)
y=float(3.0)
z=str("string")
print(x)
print(y)
print(z)

3
3.0
string

In [14]:
# Get the type of variable.Double coates and single coats are same
x=4
y="name"
z='name'
print(type(x))
print(type(y))
print(z)

<class 'int'>
<class 'str'>
name

In [16]:
# Assign multipule values
x,y,z=3,"name","age"
print(x)
print(y)
print(z)

3
name
age

In [18]:
#Assign single values to multiple variables
x=y=z="name"
print(x)
print(y)
print(z)

name
name
name

In [24]:
#Unpack a collection([] this list)
fruits=["apple","banana","berry"]
x,y,z=fruits
print(x)
print(y)
print(z)
print(type(fruits))

apple
banana
berry
<class 'list'>

In [22]:
# with () this it is tuple
fruits=("apple","banana","berry")
print(fruits)
print(type(fruits))

('apple', 'banana', 'berry')
<class 'tuple'>

In [30]:
x=3+5j
y=-5j
print(type(x))
print(type(y))

<class 'complex'>
<class 'complex'>

In [32]:
#Get the character at the position 1
x="hello world"
print(x[1])

e

In [40]:
#looping through a string

for y in "using loops":
    print(y)

u
s
i
n
g

l
o
o
p
s

In [42]:
#looping through a string (we can do this way as well)
y="using loops"
for y in y:
    print(y)

u
s
i
n
g

l
o
o
p
s

In [44]:
#Get string length
y="using loops"
print(len(y))

11

In [46]:
# To check the particular word in the given string
session="This is python session for all"
print("all" in session)

True

In [48]:
# To check the particular word in the given string with if
session="This is python session for all"
if "all" in session:
    print('yes, "all" present')

yes, "all" present

In [50]:
#To chesk word not present in the given string
numberOf_classes="we have six classes for python"
print("eight" not in numberOf_classes)

True

In [56]:
#To chesk word not present in the given string with if
numberOf_classes="we have six classes for python"
if "eight" not in  numberOf_classes:
    print('true, "eight" not present')

true, "eight" not present

In [58]:
# Slicing the string
#python, sessions
#012345678910111213141516(indexing starts from 0)
x="python, sessions"
print(x[3:5])

ho

In [64]:
#slice from the begining(print from 0 index)
print(x[:12])

python, sess

In [66]:
#slice to the end(print to last index)
print(x[5:])

n, sessions

In [68]:
#Negative indexing
#python, sessions
#   --------3-2-1
print(x[-5:-1])

sion

In [70]:
#print in upper case
x="python, sessions"
print(x.upper())

PYTHON, SESSIONS

In [72]:
#print in lower case
print(x.lower())

python, sessions

In [76]:
#remove white space in the front
x=" python, sessions"

print(x.strip())

python, sessions

In [78]:
#Replace string
print(x.replace("p","m"))

 mython, sessions

In [82]:
#split the string
print(x.split("s"))

[' python, ', 'e', '', 'ion', '']

In [84]:
#String concatenation
a="fisrt"
b="second"
c=a+b
print(c)

fisrtsecond

In [86]:
#Add space in between the strings
a="fisrt"
b="second"
c=a+" "+b
print(c)

fisrt second

In [88]:
#Escape characters(Give syntax error)
x="I am attenting "python sessions" every day"
print(x)

SyntaxError: invalid syntax (1952300887.py, line 2)

In [90]:
#Escape characters
x="I am attenting \"python sessions\" every day"
print(x)

I am attenting "python sessions" every day

In [94]:
#Python Boolean values
print(10>9)
print(10==9)
print(10<9)

True
False
False

In [96]:
#print the message based on the condition is True or False
x=100
y=50
if x>y:
    print("x is greater than y")
else:
    print("x is lessthan y")

x is greater than y

In [98]:
#Python arithmetic operators
x=5
y=8
print(x+y)
print(x-y)
print(x*y)
print(x/y)

13
-3
40
0.625

In [121]:
#Assignment oepartors
x=5
print(x)
x +=5 # x=x+5
print(x)
x -=3 # x=x-3
print(x)
x *=3 #x=x*3
print(x)
x/=3 #x=x/3
print(x)

5
10
7
21
7.0

In [127]:
#Python comparision operators
x=8
y=4
print(x==y)
print(x!=y)

False
True

In [143]:
#Python logical operators
x=5
print(x<6 and x>3)
print(x>6 or x>3)

True
True

In [151]:
# List in python(Lists are in ordered, changable and allow duplictes and removable. list should be in [])
fruits=["apple","banana","berry","cherry","berry"]
numbers=[3,5,8]
conditions=[True,False,True]
print(fruits)
print(numbers)
print(conditions)
#type of the list
print(type(fruits))

['apple', 'banana', 'berry', 'cherry', 'berry']
[3, 5, 8]
[True, False, True]
<class 'list'>

In [159]:
# list() constructor(create the list in this way as well)
newlist=list(("red","yellow","blue"))
print(newlist)

['red', 'yellow', 'blue']

In [163]:
#Access items in the list
fruits=["apple","banana","berry","cherry","berry"]
print(fruits[3])
print(fruits[-2])

cherry
cherry

In [171]:
# Range of index in the list
print(fruits[2:5])
print(fruits[-3:-1])
print(fruits[:5])
print(fruits[2:])

['berry', 'cherry', 'berry']
['berry', 'cherry']
['apple', 'banana', 'berry', 'cherry', 'berry']
['berry', 'cherry', 'berry']

In [173]:
#Change the item value in the list
fruits=["apple","banana","berry","cherry","berry"]
fruits[2]="blue berry"
print(fruits)

['apple', 'banana', 'blue berry', 'cherry', 'berry']

In [179]:
#Change a range of item values
fruits=["apple","banana","berry","cherry","berry"]
fruits [2:4]= ["blue berry","black berry"]
print(fruits)

['apple', 'banana', 'blue berry', 'black berry', 'berry']

In [181]:
# insert new value
fruits.insert(2, "watermelon")
print(fruits)

['apple', 'banana', 'watermelon', 'blue berry', 'black berry', 'berry']

In [185]:
#Append value(add values to the list)
fruits.append("orange")
print(fruits)

['apple', 'banana', 'watermelon', 'blue berry', 'black berry', 'berry', 'orange']

In [187]:
#Extend list(add list to the other list)
fruits=["apple","banana","orange"]
berries=["strawberry","blueberry","blackberry"]
fruits.extend(berries)
print(fruits)

['apple', 'banana', 'orange', 'strawberry', 'blueberry', 'blackberry']

In [189]:
#remove the values from the list and if we have duplicate values it remove first duplicate value
fruits=["apple","banana","cherry","berry","cherry"]
fruits.remove("cherry")
print(fruits)

['apple', 'banana', 'berry', 'cherry']

In [193]:
#Remove value with index
fruits=["apple","banana","berry","cherry","berry"]
del fruits[2]
print(fruits)
#delete list
del fruits

['apple', 'banana', 'cherry', 'berry']

In [197]:
# using for loop
fruits=["apple","banana","berry","cherry","berry"]
for x in fruits:
    print(x)

apple
banana
berry
cherry
berry

In [199]:
#Using while loop print all the values
fruits=["apple","banana","berry","cherry","berry"]
i=0
while i<len(fruits):
    print(fruits[i])
    i=i+1

apple
banana
berry
cherry
berry

In [207]:
#Sort the list in alphabetical order
fruits=["apple","banana","berry","cherry","berry"]
fruits.sort()
print(fruits)

['apple', 'banana', 'berry', 'berry', 'cherry']

In [209]:
#Sort the list in descending order
fruits=["apple","banana","berry","cherry","berry"]
fruits.sort(reverse=True)
print(fruits)

['cherry', 'berry', 'berry', 'banana', 'apple']

In [217]:
#Copy list with copy
fruits=["apple","banana","berry","cherry","berry"]
newlist=fruits.copy()
print(newlist)
#copy list with list()
newlist1=list(fruits)
print(newlist1)
#copy list with : operator
newlist2=fruits[:]
print(newlist2)

['apple', 'banana', 'berry', 'cherry', 'berry']
['apple', 'banana', 'berry', 'cherry', 'berry']
['apple', 'banana', 'berry', 'cherry', 'berry']

In [219]:
#Join two lists
letters=['a','b','c']
numbers=[1,2,3]
list=letters+numbers
print(list)

['a', 'b', 'c', 1, 2, 3]

In [227]:
#Append in for loop
letters=['a','b','c']
numbers=[1,2,3]
for x in numbers:
    letters.append(x)
    
print(letters)

['a', 'b', 'c', 1, 2, 3]

In [233]:
# Python Tuples(it is collection of values by ordered and unchangable, to create use ())
colors=("blue","green","red","green")
print(colors)
tuple=("colors",5,True)
print(tuple)

('blue', 'green', 'red', 'green')
('colors', 5, True)

In [235]:
#Access with index
colors=("blue","green","red","green")
print(colors[3])
print(colors[-1])
print(colors[1:3])
print(colors[-4:-2])
print(colors[:4])
print(colors[3:])

green
green
('green', 'red')
('blue', 'green')
('blue', 'green', 'red', 'green')
('green',)

In [237]:
# loop the tuple
colors=("blue","green","red","green")
for x in colors:
    print(x)

blue
green
red
green

In [241]:
#print the tuple with index using for loop
colors=("blue","green","red","green")
for i in range(len(colors)):
    print(colors[i])

blue
green
red
green

In [243]:
# join tuples
letters=('a','b','c')
numbers=(1,2,3)
tuple=letters+numbers
print(tuple)

('a', 'b', 'c', 1, 2, 3)

In [245]:
#multiply the tuple
numbers=(1,2,3)
tuple=numbers * 2
print(tuple)

(1, 2, 3, 1, 2, 3)

In [247]:
# Set in python(it is unordered, unchangable and unindexed. use{} to create. but we can remove and add values)
letters={'a','b','c'}
print(letters)

{'a', 'b', 'c'}

In [249]:
# no duplication it will ignore
letters={'a','b','c','a'}
print(letters)

{'a', 'b', 'c'}

In [251]:
letters={'a','b','c'}
numbers={1,2,3}
bol={True,False,True}
print(letters)
print(numbers)
print(bol)

{'a', 'b', 'c'}
{1, 2, 3}
{False, True}

In [255]:
#loop through the set
letters={'a','b','c'}
for x in letters:
    print(x)

a
b
c

In [265]:
# check if any value present in the set
letters={'a','b','c'}
print("a"in letters)
print("a" not in letters)

True
False

In [267]:
# Add values
letters.add("e")
print(letters)

{'a', 'b', 'c', 'e'}

In [269]:
# add both the sets
letters={'a','b','c'}
numbers={1,2,3}
letters.update(numbers)
print(letters)

{'a', 1, 2, 3, 'c', 'b'}

In [279]:
# remove value
letters={'a','b','c'}

letters.remove("a")
print(letters)
# remove with discard()
letters={'a','b','c'}

letters.discard("b")
print(letters)

{'b', 'c'}
{'a', 'c'}

In [281]:
#clear the set
letters={'a','b','c'}
letters.clear()
print(letters)

set()

In [285]:
#with del
letters={'a','b','c'}
del letters
print(letters)

NameError: name 'letters' is not defined

In [289]:
#joining the sets
letters={'a','b','c'}
numbers={1,2,3}
set=letters.union(numbers)
print(set)

{'a', 1, 2, 3, 'c', 'b'}

In [291]:
#join set and tuple
st={'a','b','c'}
tpl=(1,2,3)
set=st.union(tpl)
print(set)

{'a', 1, 2, 3, 'c', 'b'}

In [293]:
#intursection(print duplicates)
letters={'a','b','c',1,2}
numbers={1,2,3}
set=letters.intersection(numbers)
print(set)

{1, 2}

In [295]:
# join with & (print duplicates)
letters={'a','b','c',1,2}
numbers={1,2,3}
set=letters & numbers
print(set)

{1, 2}

In [297]:
# wuith difference it will give the values that present in set1 not in set2
set1={'a','b','c',1,2}
set2={1,2,3}
set=set1.difference(set2) 
print(set)

{'a', 'b', 'c'}

In [299]:
# can use symmetric_difference skip the values present in both the sets
set1={'a','b','c',1,2}
set2={1,2,3}
set=set1.symmetric_difference(set2)
print(set)

{'a', 3, 'c', 'b'}

In [1]:
#Dictionary
dic={
    "classes":"python",
    "number":6,
    "hackathon":"yes"
}
print(dic)

{'classes': 'python', 'number': 6, 'hackathon': 'yes'}

In [3]:
#Access the particular value in the dictionary
print(dic["classes"])

python

In [5]:
#Access values using get() method
print(dic.get("number"))

6

In [7]:
#Get keys in the dictionary
print(dic.keys())

dict_keys(['classes', 'number', 'hackathon'])

In [9]:
#Get values in the dictionary
print(dic.values())

dict_values(['python', 6, 'yes'])

In [13]:
#item() method will give items in the dictionary in the form of tuple.(item is called combination of key and value pairs)
print(dic.items())

dict_items([('classes', 'python'), ('number', 6), ('hackathon', 'yes')])

In [15]:
# using if condition check whether value present
dic={
    "classes":"python",
    "number":6,
    "hackathon":"yes"
}
if "hackathon" in dic:
    print("yes, 'hackathon' present")

yes, 'hackathon' present

In [17]:
# dictionary won,t allowe duplicates 
# can,t have same item with the same key
# it will overwrite the existing value
dic={
    "classes":"python",
    "number":6,
    "hackathon":"yes",
    "hackathon":"no"
}
print(dic)

{'classes': 'python', 'number': 6, 'hackathon': 'no'}

In [19]:
#length of the dictionary
print(len(dic))

3

In [25]:
#The values in the dictionary items can be any datatype
# can be string,boolean,int and list
# And also can check the datatype of dictionary
dic={
    "classes":"python",
    "number":6,
    "hackathon":True,
    "track":["SDET","DA","ChatBot"]
}
print(dic)
print(type(dic))

{'classes': 'python', 'number': 6, 'hackathon': True, 'track': ['SDET', 'DA', 'ChatBot']}
<class 'dict'>

In [27]:
# Change the value of specific item by using the key
dic={
    "classes":"python",
    "number":6,
    "hackathon":"yes"
}
dic["number"]=8
print(dic)

{'classes': 'python', 'number': 8, 'hackathon': 'yes'}

In [33]:
#Using update() method
dic={
    "classes":"python",
    "number":6,
    "hackathon":"yes"
}
dic.update({"number":9})
print(dic)

{'classes': 'python', 'number': 9, 'hackathon': 'yes'}

In [35]:
# Adding new item into the dictionary
dic={
    "classes":"python",
    "number":6,
    "hackathon":"yes"
}
dic["track"]=["SDET","DA"]
print(dic)

{'classes': 'python', 'number': 6, 'hackathon': 'yes', 'track': ['SDET', 'DA']}

In [41]:
#Adding new items using update()
dic={
    "classes":"python",
    "number":6,
    "hackathon":"yes"
}
dic.update({"track":["SDET","DA"]})
print(dic)

{'classes': 'python', 'number': 6, 'hackathon': 'yes', 'track': ['SDET', 'DA']}

Remove items 
--pop() method removes the item with the specified kye name
--popitem() method will remove last inserted item
-- del delete the item with specified key name
--clear() empties the dictionary

-- del keyword will delete the dictionary if key name not specified

In [43]:
#remove item
dic={
    "classes":"python",
    "number":6,
    "hackathon":"yes"
}
dic.pop("number")
print(dic)

{'classes': 'python', 'hackathon': 'yes'}

In [45]:
#remove last item
dic={
    "classes":"python",
    "number":6,
    "hackathon":"yes"
}
dic.popitem()
print(dic)

{'classes': 'python', 'number': 6}

In [49]:
#remove with del keyword
dic={
    "classes":"python",
    "number":6,
    "hackathon":"yes"
}
del dic["number"]
print(dic)

{'classes': 'python', 'hackathon': 'yes'}

In [51]:
#clear dictionary
dic={
    "classes":"python",
    "number":6,
    "hackathon":"yes"
}
dic.clear()
print(dic)

{}

In [53]:
#delete dictionary
dic={
    "classes":"python",
    "number":6,
    "hackathon":"yes"
}
del dic
print(dic)

NameError: name 'dic' is not defined

In [57]:
dic={
    "classes":"python",
    "number":6,
    "hackathon":"yes"
}
print(dic)

{'classes': 'python', 'number': 6, 'hackathon': 'yes'}